/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: antiquewhite;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 50px;
  width: 100%;

}

header nav ul li {
  float: right;
  width: 5%;
  list-style: none;
  margin-right: 20px;
}

header nav ul li button {
  height: 20px;
  line-height: 20px;
  width: 100%;
}

/******************************************
/* MAIN
/*******************************************/

.main {
  height: 500px;
  width: 100%;
  border: 2px solid black;
}

main > section {
  width: 50%;
  height: 100%;
  border: 2px solid black;
  float: left;
}

main section h1, main section a {
  width: 100%;
}

main section input #theInput {
  width: 50%;
}

main section input #theButton {
  width: 10%;
}

main section div {
  width: 100%;
}

main section.left {
  padding-left: 20px;
}

main section a {
  margin-left: 10px;
}

/******************************************
/* RESTAURANT STORY
/*******************************************/

.story {
  height: 500px;
  width: 100%;
  border: 2px solid black;
}

.story-one, .story-two {
  float: left;
  height: 100%;
  width: 50%;
  border: 2px solid black;
}

.story-two {
  width: 30%;
}

/******************************************
/* CUISINE
/*******************************************/

.cuisine {
  height: 300px;
  width: 100%;
}

.cuisine-top {
  height: 50%;
  width: 100%;
  float: left;
  border: 2px solid black;

}

section.cuisine div span, section.cuisine div h1, section.cuisine div a {
  margin-left: 250px;
}

section.cuisine div span {
  margin-left: 850px;
}

section.cuisine div h1 {
  margin-left: 800px;
}

.cuisine-bottom {
  clear: both;
  height: 80%;
  width: 100%;
}

section.cuisine-bottom-one {
  float: left;
  width: 25%;
  height: 100%;
  border: 2px solid black;
}


/******************************************
/* OPENING HOURS
/*******************************************/

.hours-page {
  height: 900px;
  width: 100%;
  border: 2px solid black;
}

.contact-info {
  float: left;
  width: 100%;
  height: 33.3333%;

}

.dates-block-one, .dates-block-two {
  float: left;
  width: 50%;
  height: 33.3333%;
}

.big-image {
  width: 100%;
  height: 33.3333% 
}


footer {
  border: 2px solid black;
  clear:both;
  height: 600px;
  width: 100%;
}

.customer-details {
  width: 100%;
  float: left;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
